a {
  text-decoration: none;
}

.url-list {
  list-style: none;

  .url-stats {
    margin-top: 5px;
    margin-bottom: 15px;
    display: flex;
    flex-flow: row;

    .url-label {
      padding: 5px;
      flex: 1 1 0;

      h2:first-child {
        padding-right: 5px;
      }
    }
  }
}

.warning-text {
  margin-top: 15px;
  display: block;
}
